# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# AdonisJS
.env
build/
tmp/

# Vite
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
.docker/
docker-compose.override.yml

# Database
postgres_data/
